uWSGI==2.0.15
Flask==0.12.2
APScheduler==3.4.0
retrying==1.3.3
pymongo==3.5.1
urllib3==1.22
requests==2.18.4
JSON-log-formatter==0.2.0
elasticsearch==5.4.0
elasticsearch_dsl==5.3.0
promise==2.1
pyasn1==0.3.7
ldap3==2.3
dnspython==1.15.0
boto3==1.5.7
namedlist==1.7
paramiko==2.3.1
pyVmomi==6.5.0.2017.5.post1
pyVim==0.0.21
nexpose==0.1.7
scp==0.10.2
funcy==1.10
uritools==2.1.0
passlib==1.7.1
bcrypt==3.1.4
pql==0.4.3
deepdiff==3.3.0
netstruct==1.1.2
construct==2.9.25
netmiko==2.0.1
pyodbc==4.0.22
dpkt==1.9.1
ipython==6.2.1
pychef==0.3.0
openstacksdk==0.12.0
