case "${SHELL##*/}" in
 zsh) DEVOPS="$(cd "$(dirname "${0:A}")" && pwd)" ;;
   *) DEVOPS="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)" ;;
esac
source $DEVOPS/../prepare_python_env.sh
if echo "$PATH" | grep -q devops; then
    echo "Already set"
else
    PATH=$DEVOPS:$DEVOPS/scripts:$DEVOPS/scripts/automate_dev/:$DEVOPS/scripts/log_utils/:$PATH
    echo "Done"
fi

function axlog {
    tail -f $1 | raw_log.py
}