/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  bottom: 0px;
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.new_instance_table {
    width: 100%;
}

.new_instance_table td {
    //width: 50%;
    padding-bottom:5px;
}

.new_instance_table td input {
    width: 100%; 
    padding-left: 5px;
}

.new_instance_table textarea {
    width: 100%;
    resize: none;
    padding-left: 5px;
}

.hidden_container {
    display: none;
}

pre {
    padding: 0px;
}