import logging

from axonius.clients.rest.connection import RESTConnection
from axonius.clients.rest.exception import RESTException

logger = logging.getLogger(f'axonius.{{__name__}}')


class {capital_adapter_name}Connection(RESTConnection):
    """ rest client for {capital_adapter_name} adapter """

    def __init__(self, *args, **kwargs):
        super().__init__(*args, url_base_prefix='',
                         headers={{'Content-Type': 'application/json',
                                  'Accept': 'application/json'}},
                         **kwargs)

    # TODO: implement
    def _connect(self):
        # AUTOADAPTER
        if not self._username or not self._password:
            raise RESTException('No username or password')

        try:
            pass
        except Exception as e:
            raise ValueError(f'Error: Invalid response from server, please check domain or credentials. {{str(e)}}')

    # TODO: implement
    def _paginated_device_get(self):
        # AUTOADAPTER
        try:
            pass
        except Exception:
            logger.exception(f'Invalid request made while paginating devices')
            raise

    # TODO: implement
    def get_device_list(self):
        # AUTOADAPTER
        try:
            yield from self._paginated_device_get()
        except RESTException as err:
            logger.exception(str(err))
            raise

    # TODO: implement
    def _paginated_user_get(self):
        # AUTOADAPTER
        try:
            pass
        except Exception as err:
            logger.exception(f'Invalid request made while paginating users {{str(err)}}')
            raise

    # TODO: implement
    def get_user_list(self):
        # AUTOADAPTER
        try:
            yield from self._paginated_user_get()
        except RESTException as err:
            logger.exception(str(err))
            raise
