[
    {
        "domain": "axonius.corp-1.com",
        "user_name": "api-user",
        "password": "password"
    },
    {
        "domain": "axonius.corp-2.com",
        "user_name": "api-user",
        "password": "password"
    }
]
